<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Application</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script defer th:src="@{/JS/chat.js}"></script>
</head>

<body>
<script th:inline="javascript">
    var partyId=/*[[${partyId}]]*/ null;
    var messages = /*[[${messages}]]*/ '';
</script>
<div id="chatContainer">
    <div id="messageArea">

    </div>
    <input type="text" id="messageInput" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>
</div>
</body>
</html>
