<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/header :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8">
    <title>파티 찾기 | 일단모여</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/find_party.css}">
    <script src="https://kit.fontawesome.com/8d0075b0a4.js" crossorigin="anonymous"></script>
    <script type="text/javascript" defer th:src="@{/JS/find_party.js}"></script>
</head>
<body>

<header th:replace="~{fragment/header :: Xheader}"></header>

    <h1 class="find_party_header"> 어떤 파티를 찾고 있나요? </h1>
    <div class="division">
        <span class="clicked">
            전체
            <div class="underline"></div>
        </span> &nbsp;&nbsp; <span> 온라인 </span>&nbsp;&nbsp; <span> 오프라인 </span>
    </div>
    <div class="find_category">
        <table border="1">
            <tr>
                <th>관심사</th>
                <td class="category-filter selected">전체</td>
                <td class="category-filter category-sports">스포츠</td>
                <td class="category-filter category-study">스터디</td>
                <td class="category-filter category-game">게임</td>
                <td class="category-filter category-boardGame">보드게임</td>
                <td class="category-filter category-travel">여행</td>
            </tr>
            <tr>
                <th>지역</th>

                <td class="location-filter selected">전체</td>
<!--                <td class="location-filter">서울</td>-->
<!--                <td class="location-filter">경기도</td>-->
<!--                <td class="location-filter">부산</td>-->
<!--                <td class="location-filter"></td>-->
                <td th:each="party : ${allParty}" class="location-filter">
                    <span th:text="${party}"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="find_main">
        <div class="big_container">
            <div th:each="big,status : ${big_items}" class="big_content" onclick="go_partyInfo(this)">

                <input type="hidden" name="party_id" th:value="${big.id}">
                <div class="big_content_sub">
                    <span th:text="${big.title}"></span>
                </div>
                <div class="big_content_category">
                    카테고리 : <span class="big_cate_name" th:text="${big.interest}"></span>
                </div>
                <div class="big_content_intro">
                    파티 소개 : <span th:text="${big.content}"></span>
                </div>
                <div class="big_content_division">
                    모임 방식 : <span class="big_division_name" th:text="${big.isOnline == 0 ? '오프라인' : '온라인'}"></span>
                </div>
                <div class="big_content_loc">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" style="width:20px; height:17px;">
                            <path
                                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                        </svg>
                    </span>
                    <span class="big_loc_name" th:text="${big.area}"></span>
                </div>
<!--                <div class="big_content_personnel">-->
<!--                    모집 인원 : ( / <span th:text="${big.personnel}"></span>) 명-->
<!--                </div>                -->
                <div class="big_content_personnel">
                   모집 인원 : ( <span th:text="${big_items_count.get(status.index)}">0</span>
<!--                    <div th:each="partyInfo : ${allPartyInfo}">-->
<!--                        <div th:if="${partyInfo.party.id == big.id}">-->
<!--                            &lt;!&ndash; big.id와 PartyInfo의 party.id가 일치할 때 &ndash;&gt;-->
<!--                            &lt;!&ndash; 일치하는 개수 카운트 &ndash;&gt;-->
<!--                            <span th:text="${#lists.size(allPartyInfo)}"></span>-->
<!--                        </div>-->
<!--                    </div>-->

                    / <span th:text="${big.personnel}"></span>) 명
            </div>

   </div>

    <div class="small_container">
    <div th:each="small,status : ${small_items}" class="small_content" onclick="go_partyInfo(this)">
        <input type="hidden" name="party_id" th:value="${small.id}">
        <div class="small_content_sub" th:text="${small.title}"></div>
        <div class="small_content_category">
            카테고리 : <span class="small_cate_name" th:text="${small.interest}"></span>
        </div>
        <div class="small_content_division">
            모임방식 : <span class="small_division_name" th:text="${small.isOnline == 0 ? '오프라인' : '온라인'}"></span>
        </div>
        <div class="small_content_intro">
            파티 소개 : <span th:text="${small.content}"></span>
        </div>
        <div class="small_content_loc">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" style="width:20px; height:17px;">
            <path
                    d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
          </svg>
        </span>
            <span class="small_loc_name" th:text="${small.area}"></span>
        </div>
        <div class="small_content_personnel">
            모집 인원 : (<span th:text="${allpartyCount.get(status.index)}">0</span> / <span th:text="${small.personnel}"></span>) 명
        </div>
    </div> <!-- small_content -->
   </div>
</div>  <!-- find_main -->
</body>
</html>