<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8">
    <title>비밀번호 찾기 | 일단모여</title>
    <link rel="stylesheet" href="/CSS/forgotPassword.css">
    <script src="https://kit.fontawesome.com/8d0075b0a4.js" crossorigin="anonymous"></script>
    <script defer src="/JS/forgotPassword.js"></script>
</head>
<body>
<header th:replace="~{fragment/header :: navheader}"></header>
<div class="container">
    <form id="form">
        <div class="content">
            <div class="find_wrap">
                <div class="find_header">
                    <div class="header_logo">
                        <!--<a th:href="@{/}">일단모여</a>-->
                        일단모여
                    </div>
                </div>
                <div class="find_inner">
                    <div class="title_wrap">
                        <h2 class="title">찾고자하는 이메일을 입력해주세요.</h2>
                    </div>
                    <div class="input_box">
                        <span><i class="fa-solid fa-user idicon"></i></span>
                        <input type="text" placeholder="이메일을 입력해주세요" id="emailInput" name="email" maxlength="40">
                    </div>
                    <button type="button" class="submitBtn" name="btn" onclick="submitForm(form);">전송</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>