<!DOCTYPE html>
<html th:replace="~{fragment/myParty :: myParty(~{::section})}" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<section class="chat-container">
    <div class="chat-wrap" th:each="party : ${myPartyList}">
        <div class="chat-content">
            <div class="chat-title"><h3 th:text="${party.title}"></h3></div>
            <div class="chat-host">
                <p>파티장</p>
                <div th:text="${party.user.nickname}"></div>
            </div>
            <a th:href="@{'/chat/' + ${party.id}}" class="join-btn">
                <span>채팅</span>
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </div>
    </div>
    <div class="chat-wrap" th:each="party : ${joinedPartyList}">
        <div class="chat-content">
            <div class="chat-title"><h2 th:text="${party.title}"></h2></div>
            <div class="chat-host">
                <p>파티장</p>
                <div th:text="${party.user.nickname}"></div>
            </div>
            <a th:href="@{'/chat/' + ${party.id}}" class="join-btn">
                <span>채팅</span>
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </div>
    </div>
</section>
</html>