<!DOCTYPE html>
<html th:replace="~{fragment/myParty :: myParty(~{::section})}" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<section class="chat-container">
    <th:block th:each="party: ${myPartyList}">
        <div class="myParty_wrap">
            <div class="chat-wrap">
                <div class="chat-content">
                    <div class="chat-title"><h3 th:text="${party.title}"></h3></div>
                    <div class="chat-host">
                        <strong>파티장</strong>
                        <div th:text="${party.user.nickname}"></div>
                    </div>
                    <a th:href="@{'/chat/' + ${party.id}}" class="join-btn btn">
                        <span>채팅</span>
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a>
                </div>
            </div>
            <div class="option_Btn_section">
                <a th:href="@{'/pay/'+${party.id}}" class="option_Btn btn">옵션 구매</a>
                <a th:href="@{'/party/update/'+${party.id}}" class="info_Btn btn" >파티 정보</a>
            </div>
        </div>
    </th:block>
    <div class="chat-wrap" th:each="party : ${joinedPartyList}" style="flex:1;">
        <div class="chat-content" >
            <div class="chat-title"><h2 th:text="${party.title}"></h2></div>
            <div class="chat-host">
                <strong>파티장</strong>
                <div th:text="${party.user.nickname}"></div>
            </div>
            <a th:href="@{'/chat/' + ${party.id}}" class="join-btn btn ">
                <span>채팅</span>
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </div>
        <div class="option_Btn_section">
        </div>
    </div>
</section>
</html>