<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8">
    <title>추가옵션</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/option_view.css}">
    <script th:src="@{/JS/option_view.js}" type="text/javascript" defer></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/8d0075b0a4.js" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
<div id="option_view_title">추가 옵션 구매 목록</div>
<main id="option_view_main">
    <div th:if="${list eq null or #lists.isEmpty(list)}">
        <h2 class="option_view_after_h2">아직 구매한 옵션이 없습니다...</h2>
    </div>
    <div th:each="item : ${list}" class="view_card">
        <input type="hidden" th:value="${item.id}" name="id">
        <input type="hidden" th:name="${item.impUid}" class="option_uid">
       <div><span>파티 이름</span><span>[[${item.party.title}]]</span></div>
        <div>
            <div><span>구매 옵션</span><span>[[${item.name}]]</span><span>신청 날짜</span><span class="option_even_day">[[${item.even_day}]]</span></div>
            <div><span>구매 날짜</span><span>[[${item.buy_day}]]</span><span>구매 가격</span><span class="price">[[${item.price}]]원</span></div>
        </div>
        <th:block th:with="today=${#dates.format(#dates.createNow(),'yyyy-MM-dd')}">
            <th:block th:if="${today lt item.even_day}">
                <button class="fa-solid fa-x option_view_cancel" style="width: 15px; height: 15px;"></button>
            </th:block>
        </th:block>
    </div>
</main>
</body>
</html>