<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/header :: common_header(~{::title},~{::link},~{::script})}">

    <title>고객센터</title>

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/qna.css}" />
    <script src="https://kit.fontawesome.com/8d0075b0a4.js" crossorigin="anonymous"></script>
    <script type="text/javascript" defer th:src="@{/JS/qna.js}"></script>-->
</head>
<body>

<div th:replace="~{fragment/header :: navheader}"></div>
<div class="main">
    <div class="container">
        <div class="ask-wrap">
            <div class="ask-section">
                <div class="ask-box">
                    <h1 class="word">도움이 필요하시면 연락해 주세요.</h1>
                    <div class="inner-word">
                        <!--<span>일단모여 고객센터</span>운영 시간 | 평일 10:00 ~ 19:00-->
                    </div>
                    <a th:href="@{mailto:firstkjy1123@gmail.com}" class="ask-button">이메일 문의하기</a>
                </div>
                <div class="ask-img-box">
                    <img src="https://tse4.mm.bing.net/th/id/OIG1.t45UTPDt6rv6Fejv7ty.?pid=ImgGn" class="askImage">
                </div>
                <!--/askImg-->
            </div>
           <!-- /ask-section-->
        </div>
        <!--/ask-->
        <!--qna-->
        <div class="qna-wrap">
            <div class="qna-section section">
                <div class="qna-title">자주 묻는 질문</div>
                <div class="qna-items-wrap">
                    <div class="qna-items">
                        <div class="qna-item">
                            <div class="boarder-title-wrap">
                                <i class="fa-duotone fa-q"></i>
                                <span class="boarder-title">파티장의 파티 요금은 어떻게 산정되나요?</span>
                            </div>
                            <div class="boarder-content" style="display: none; ">
                                <p>파티장의 <strong>파티 요금은 ...</strong> 입니다</p>
                                <p>파티장의 .....입니다</p>
                                <p>자세한 내용은 ...</p>
                                <blockquote><strong>..........이며 아래내용을 확인해주세요</strong></blockquote>
                                <ul>
                                    <li>A.알파</li>
                                    <li>B.베타</li>
                                    <li>C.세타</li>
                                </ul>
                            </div>
                        </div>
                        <div class="qna-item">
                            <div class="boarder-title-wrap">
                                <i class="fa-duotone fa-q"></i>
                                <span class="boarder-title">파티원은 어떻게 하나요?</span>
                            </div>
                            <div class="boarder-content" style="display: none; ">
                                <p>파티원은 <strong>파티 저렇게이렇게 ...</strong> 입니다</p>
                                <p>파티원의 .....입니다</p>
                                <p>자세한 내용은 ...</p>
                                <blockquote><strong>..........이며 아래내용을 확인해주세요</strong></blockquote>
                                <ul>
                                    <li>A.알파</li>
                                    <li>B.베타</li>
                                    <li>C.세타</li>
                                </ul>
                            </div>
                        </div>
                        <div class="qna-item">
                            <div class="boarder-title-wrap">
                                <i class="fa-duotone fa-q"></i>
                                <span class="boarder-title">파티는 어떻게 만드나요?</span>
                            </div>
                            <div class="boarder-content" style="display: none; ">
                                <p>파티는 <strong>이렇게 ...</strong> 입니다</p>
                                <p>파티는 .....입니다</p>
                                <p>자세한 내용은 ...</p>
                                <blockquote><strong>..........이며 아래내용을 확인해주세요</strong></blockquote>
                                <ul>
                                    <li>A.알파</li>
                                    <li>B.베타</li>
                                    <li>C.세타</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/container-->
</div>

<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>