<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/header :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8">
    <title>새 비밀번호 | 일단모여</title>
    <link rel="stylesheet" href="/CSS/forgotPassword.css">
    <script src="https://kit.fontawesome.com/8d0075b0a4.js" crossorigin="anonymous"></script>
    <script defer src="/JS/forgotPassword.js"></script>
</head>
<body>
<header th:replace="~{fragment/header :: Xheader}"></header>
<div class="container">
    <form id="pwForm">
        <input type="hidden" name="email" th:value="${email}">
        <div class="content">
            <div class="find_wrap">
                <div class="find_header">
                    <div class="header_logo">
                        <!--<a th:href="@{/}">일단모여</a>-->
                        일단모여
                    </div>
                </div>
                <div class="find_inner">
                    <div class="title_wrap">
                        <h2 class="title">새로 변경하실 비밀번호를 입력해주세요.</h2>
                    </div>
                    <label>비밀번호</label>
                    <div class="input_box">
                        <input type="password" placeholder="새로운 비밀번호 입력해주세요" id="password1" name="password1" maxlength="40">
                    </div>
                    <label>비밀번호 확인</label>
                    <div class="input_box">
                        <input type="password" placeholder="새로운 비밀번호 입력해주세요" id="password2" name="password2" maxlength="40">
                    </div>
                    <button type="button" class="submitBtn" name="btn" onclick="pwSubmit(pwForm);">변경하기</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>