<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/signup.css}">
    <script type="text/javascript" th:src="@{JS/signup.js}"></script>
    <script src="https://kit.fontawesome.com/8d0075b0a4.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="inner">
        <!--<div class="logo_ilmo">-->
        <h1 class="title_ilmo">ILDANASSEMBLE</h1>
        <div class="content">
            <form action="/user" method="POST">
               <div class ='input-box'>
                   <div class='input-box-title'>아이디</div>
                   <div class='input-box-content'>
                       <div class='input-box-body'>
                           <input class='input-box-input' placeholder='아이디를 입력해주세요'/>
                           <div class='input-box-button'>중복 확인</div>
                       </div>
                       <div class='input-box-message'>사용 가능한 아이디 입니다.</div>
                   </div>
               </div>
            </form>
        </div>
        <!--content-->
    </div>
    <!--inner-->
</div>
<!-- container-->
</body>
</html>
