<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragment/header :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/signup.css}">
    <script type="text/javascript" th:src="@{JS/signup.js}"></script>
    <script src="https://kit.fontawesome.com/8d0075b0a4.js" crossorigin="anonymous"></script>
    <script defer th:inline="javascript">
        var user = /*[[${user}]]*/ '';
    </script>
</head>
<body>

<div th:replace="~{/fragment/header :: navheader}"></div>
<div class="container">
    <div class="inner">
        <!--<div class="logo_ilmo">-->
        <h1 th:if="${#authorization.expression('isAuthenticated()')}">추가 정보 입력</h1>
        <h1 th:if="${#authorization.expression('isAnonymous()')}">회원가입</h1>

        <div class="content">
            <form class="signupForm">
                <!--<input type="hidden" th:value="${#authentication.principal.email()}" readonly>-->
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
            </form>
        </div>
        <!--content-->
    </div>
    <!--inner-->
</div>
<!-- container-->
<div th:replace="~{/fragment/footer :: footer}"></div>
</body>
</html>
