<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common_header(title,links,scripts)">
    <meta charset="UTF-8">
    <title th:replace="${title}">레이아웃 타이틀</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
   <!-- <script type="text/javascript" th:src="@{/sh/scripts/codebase.js}"></script>-->
    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>
</head>
<body>
<header th:fragment="header">
    <nav class="topNav">
        <div class="top-nav-wrap">
            <div class="nav-item">
                <a th:href="@{/}"> <h1 class="logo-h1">일단모여</h1></a>
            </div>
            <div class="nav-item">
                <div class="nav-list">
                    <a class="nav-data" th:href="@{/party/create}">파티 만들기</a>
                    <a class="nav-data" th:href="@{/party/find_party}">파티 찾기</a>
                    <a class="nav-data" th:href="@{/qna}">자주 묻는 질문</a>
                    <a sec:authorize="!isAuthenticated()" class="nav-data" th:href="@{/user/loginForm}">로그인</a>
                    <a sec:authorize="isAuthenticated()" class="nav-data" th:href="@{/user/mypage}">마이페이지</a>
                    <a sec:authorize="isAuthenticated()" class="nav-data" th:href="@{/logout}">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
