<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common_header(title,links,scripts)">
    <meta charset="UTF-8">
    <title th:replace="${title}">레이아웃 타이틀</title>
    <script src="https://kit.fontawesome.com/8d0075b0a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <script type="text/javascript" defer th:src="@{/js/common.js}"></script>
    <!--추가-->
    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>
</head>
<body>
<header class="X_header" th:fragment="Xheader">
    <div class="x_btn">
        <i class="fa-solid fa-x fa-2x" style="width: 36px; height: 36px;"></i>
    </div>
</header>
<header th:fragment="navheader">
    <nav class="topNav">
        <div class="top-nav-wrap">
            <div class="nav-item">
                <a th:href="@{/}"> <h1 class="logo-h1">일단모여</h1></a>
            </div>
            <div class="nav-item">
                <div class="nav-list">
                    <a sec:authorize="isAuthenticated()" class="nav-data" th:href="@{/manage/myParty}">나의 파티</a>
                    <a class="nav-data" th:href="@{/party/create}">파티 만들기</a>
                    <a class="nav-data" th:href="@{/party/find_party}">파티 찾기</a>
                    <a class="nav-data" th:href="@{/qna}">자주 묻는 질문</a>
                    <a sec:authorize="!isAuthenticated()" class="nav-data" th:href="@{/user/loginForm}">로그인</a>
                    <a sec:authorize="isAuthenticated()" class="nav-data" th:href="@{/manage}">마이페이지</a>
                    <a sec:authorize="isAuthenticated()" class="nav-data" th:href="@{/logout}">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
