body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(244, 246, 251);
}
.find_party_header{
    margin-top : 10px;
    text-align: center;
}
.find_main {
    /*border: 2px solid green;*/
    margin: auto;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px;
    box-sizing: border-box;
    /*background-color: rgb(250, 250, 250);*/
}
.big_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.big_content {
    border: 3px solid #ffe000;
    border-radius: 10px;
    padding: 0 28px; /* padding을 조정하여 border 크기만큼 요소 크기를 유지하도록 함 */
    width: calc(25% - 84px); /* border와 padding을 적절히 계산하여 요소 크기 유지 */
    margin: 10px;
    height: 460px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    cursor: pointer;
    background-color: white;

    /* 수정 */
    background: linear-gradient(to bottom, #fff9c4, #ffeb3b);
}
.big_content:hover{
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1); /* 그림자 설정 */

    color: #000; /* 호버 시 글자색 변경 */
    transform: translateY(-4px); /* 호버 시 약간 위로 이동하는 효과 */
    transition: transform 0.3s ease; /* 호버 시 효과에 부드러운 애니메이션 적용 */
    background: linear-gradient(to bottom, #f5f5f5, #fff9c4); /* 호버 시 그라데이션 배경색 변경 */
}
.big_content_sub {
    margin-top: 15px;
    /* flex: 1; */
    /* border: 1px solid red; */
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 25px;
    height: 120px;
    max-height: 150px;

}

.big_content_category {
    border-top: 1px solid rgb(227, 226, 226);
    padding-top: 20px;
    /* margin-bottom: 50px; */
    font-size: 16px;
    /*color: rgb(95, 95, 95);*/
    font-weight: bold;
    /* border: 1px solid green; */
}

.big_content_intro {
    /* border: 1px solid purple; */
    margin-bottom: 50px;
    padding-top:15px;
    font-weight: bold;
    /*color: rgb(91, 90, 90);*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.big_content_loc {
    /* border: 1px solid orange; */
    font-size: 16px;
    margin-bottom: 10px;
}

.big_content_personnel {
    /* border: 1px solid skyblue; */
    font-size: 16px;
    font-weight: bold;
    /*color: rgb(91, 90, 90);*/
}

.big_content_division{
    padding-top: 10px;
    margin-bottom: 50px;
    font-size: 16px;
    /*color: rgb(95, 95, 95);*/
    font-weight: bold;
}
.small_container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.small_content {
    border: 3px solid #ffe000;
    border-radius: 10px;
    padding: 0 29px;
    width: calc(25% - 84px);
    margin: 10px;
    height: 260px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    background-color: white;


}
.small_content:hover{
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

.small_content_sub {
    /* border: 1px solid red; */
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    /*margin-bottom: 25px;*/
    height: 60px;
    max-height: 75px;
}

.small_content_category {
    border-top: 2px solid rgb(227, 226, 226);
    padding-top: 10px;
    margin-bottom: 10px;
    /* font-size: 16px; */
    /*color: rgb(95, 95, 95);*/
    font-weight: bold;
    font-size : 14px;
}

.small_content_intro {
    /*border-top: 2px solid rgb(227, 226, 226);*/
    margin-bottom: 7px;
    padding-top: 5px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*color: rgb(91, 90, 90);*/
    align-self: flex-end;
}

.small_content_loc {
    margin-bottom: 10px;
}

.small_content_personnel {
    font-weight: bold;
    /*color: rgb(91, 90, 90);*/
}

.small_content_division{
    /* padding-top: 10px; */
    margin-bottom: 10px;
    /* font-size: 16px; */
    /*color: rgb(95, 95, 95);*/
    font-weight: bold;
    font-size : 14px;
}

.ad_my_party{
    margin-top: 200px;
    color: rgb(91, 90, 90);
    font-weight: bold;
    font-size: 1.2rem;
    /*border : 1px solid rgb(91, 90, 90);*/
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(219, 216, 216);;
}

.find_category {
    width: 1200px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: rgb(101, 101, 101);
    display: flex;
    flex-direction: column;
    /* margin: 0 160px; */
    margin : auto;
    margin-top: 50px;
}

/* .find_category span {
  cursor: pointer;
  position: relative;

} */

.division{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: rgb(101, 101, 101);
    margin: 0 100px;
    margin-top: 50px;
}
.division span{
    cursor: pointer;
    position: relative;
}
.underline {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    border-bottom: 2px solid black;
    transition: bottom 0.3s ease;
    /* 밑줄 위치 변경에 애니메이션 적용 */
    pointer-events: none;
    /* 마우스 이벤트를 span 요소에만 적용하기 위해 */
}

.division span.clicked {
    color: black;
    /* 클릭 시 색상 변경 */
}

table {
    border-collapse: collapse; /* 테이블 셀 경계를 합침 */
}
table, th, td {
    border: 1px solid black; /* 모든 셀에 테두리 추가 */
}
th, td {
    padding: 8px; /* 셀 내부 여백 설정 */

}
/* 첫 번째 행의 셀들에만 백그라운드 색상 추가 */
th {
    background-color: rgb(241, 241, 241);
    color:black;
}

td{
    cursor: pointer;
    color:rgb(63, 63, 63);
    background-color: white;
}

.selected {
    background-color: #fdf6b5; /* 선택된 항목의 배경색 */
    /*background-color: rgb(184, 225, 241); !* 선택된 항목의 배경색 *!*/
}

.ad_my_party{
    margin-top: 200px;
    color: rgb(91, 90, 90);
    font-weight: bold;
    font-size: 1.2rem;
    /*border : 1px solid rgb(91, 90, 90);*/
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(219, 216, 216);;
}


/* 기본적으로 숨겨진 요소들 */
.big_content_division,
.big_content_loc,
.big_content_personnel {
    display: none;
}

/* 마우스를 올렸을 때 보여질 요소들 */
.big_content:hover .big_content_division,
.big_content:hover .big_content_loc,
.big_content:hover .big_content_personnel {
    display: block;
}

.small_content_intro,
.small_content_loc,
.small_content_personnel {
    display: none;
}

.small_content:hover .small_content_intro,
.small_content:hover .small_content_loc,
.small_content:hover .small_content_personnel{
    display:block;
}


.category-sports {
    color: blue; /* 스포츠 카테고리일 때 글자색을 빨간색으로 설정 */
}

.category-travel {
    color: green; /* 여행 카테고리일 때 글자색을 파란색으로 설정 */
}

.category-game {
    color: crimson; /* 게임 카테고리일 때 글자색을 초록색으로 설정 */
}

.category-study {
    color: hotpink;
}
.category-boardGame {
    color : blueviolet;
}
