body {
    min-height: 100vh;
    /* overflow: hidden; */
}

footer {
    bottom: 0;
    max-width: 100vw;
    width: 100%;
    height: 529px;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    /* -webkit-box-align: center; */
    align-items: center;
    padding: 60px 0px 0px 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.footer_main {
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: white;
}

.footer_left {
    width: 101.8px;
    height: 34px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer_right {
    display: flex;
    flex-direction: row;
}

.right_contents {
    width: 160px;
    margin-bottom: 0px;
    font-weight: bold;
}

.right_label {
    color: rgb(174, 170, 170);

}

.right_content {
    display: flex;
    flex-direction: column;
}

.rc {
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.footer_foot {
    max-width: 980px;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: rgb(157, 157, 157);
    word-break: keep-all;
    margin-top: 112px;
}

.foot_main {
    word-break: keep-all;
    max-width: 767px;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: rgb(157, 157, 157);
}

.foot_label {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    color: rgb(157, 157, 157);
}