.main_image{
    width: 100%;
    height: 450px;
    max-height: 500px;
    box-sizing: border-box;

}
.main_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.Main_content_box{
    max-height: 100vh;
    width: 90%;
    height: 100%;
    margin: auto;

    box-sizing: border-box;
}