.container{
    margin-top: 80px;
    height: 100vh;
    width: 100%;
    background-color: #f4f4fa;
    display: flex;
    justify-content: center;
}
.wrap{
    padding: 60px 20px 0 20px;
    min-width: 500px;
    max-width: 980px;
    width: 100%;
    display: flex;
}
.left_nav{
    flex: 3;
    min-width: 155px;
}
.content-wrap{
    flex: 7;
}
.wrap > *{
    margin-right: 20px;
}
.link{
    display: block;
    cursor: pointer;
    font-weight: 700;
    font-size: medium;
    padding: 12px;
}
.link:hover{
    border-radius: 8px;
    background-color: rgba(122, 186, 255, 0.16);
}
.nav{
    padding: 32px 12px 20px 12px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 20px;
}
.content-box{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    min-height: 220px;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-weight: 900;
    font-size: large;
    margin-left: 16px;
    height: 19px;
    text-align: left;
    color: rgb(34, 34, 34);
}
.top-bar{
    position: relative;
    top: 0px;
    width: 100%;
    height: 72px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fd7e14;
    /*background-color: rgb(64, 64, 204);*/
}
.img{
    height: 80px;
    position: relative;
    top: -40px;
    /*
    background-color: #47d5d5;
    border-radius: 50%;
    padding: 5px;
     */
}
.nickname{
    position: relative;
    top: -40px;
    margin: 12px 0px 8px;
    height: 21px;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    color: rgb(34, 34, 34);
}
.edit-btn{
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    top: -40px;
    color: darkgray;
}

/******************* userInfo *************/
.info-wrap{
    width: calc(100% - 40px);
    padding: 20px;
    height: auto;
}
.content-title{
    margin: 10px 0;
}
.line{
    width: 100%;
    background-color: #d6d8db;
    height: 1px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 5px 0;
}
.small-name{
    color: #75777a;
}
.small-content-box{
    display: flex;
    align-items: center;
}
.small-content{
    margin-right: 10px;
    font-weight: bold;
}
.small-btn{
    cursor: pointer;
    background-color: rgba(253, 117, 20, 0.08);
    padding: 10px;
    border-radius: 5px;
    color: rgba(22, 48, 73, 0.64);
    font-weight: bolder;
}
.disabled{
    cursor: none;
    visibility: hidden;
}



/******************* 모달 *****************/
.modal {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 100%;
    height: auto;
    max-width: 500px;
}
.x-section{
    display: flex;
    justify-content: flex-end;
}
.close{
    cursor: pointer;
    position: relative;
}
.sections{
    width: 100%;
    overflow: hidden;
}
.content-section>p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: rgb(101, 101, 101);
}
.input{
    margin: 60px 0px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input>input{
    font-weight: bolder;
    font-size: x-large;
    background: none;
    border: none;
    outline: none;
    text-align: center;
}
.btn-section{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.changeBtn{
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #fd7e14;
    font-size: 16px;
    font-weight: bolder;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.msg-section{
    text-align: center;
    color: red;
    font-size: 12px;
    font-weight: 400;
}