*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    min-height: 200px;
    overflow: auto;
    background-color: rgb(249,249,249);
}
.option_payment_content{
    background-color: white;
}
main{
    position: relative;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.option_payment_content_section{
    flex:8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    min-height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 30px;
    overflow: auto;
    padding-right: 30px;
}
/* 콘텐츠 박스 */
.option_payment_content:first-child{
    margin-top: 10px;
}
.option_payment_content:last-child{
    margin-bottom: 40px;
}
.option_payment_content{
    flex:1;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 4px;
    min-width: 100px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    max-height: 100px;
    background-color: white;
}
/* 콘텐츠 박스 타이틀 */
.option_payment_content_title{
    flex:1;
    font-size: 36px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.option_payment_content_box{
    flex:9;
    width: 100%;
    height: 0;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: none;
}
.option_payment_content_box > div{
    flex:1;
}

.option_payment_content_box > div > input{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: 1.3s;
    border: 1px solid #ebebeb;
    min-height: 30px;
    background-color: rgba(222, 222, 222, 0.78);
}
.option_payment_content_box > div > input:focus{
    outline: 0;
}
.option_payment_aside_total_price{
    font-size: 24px;
}
/* 사이드 바 */
.option_payment_aside{
    flex:2;
    max-width: 50%;
    max-height: 80%;
    min-width: 120px;
    min-height: 100px;
    width: 24%;
    height: 80%;
    border: 1px solid #e7e7e7;
    position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.38);
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 10px;
    box-sizing: border-box;
    overflow: auto;
}
.option_payment_aside_div{
    flex:1;
    font-size: 24px;
    padding: 15px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.option_payment_aside_div_info{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.option_payment_aside_div_info > span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
    box-sizing: border-box;
}
.option_payment_aside_div_info > span > *{
    flex:1;
}
.option_payment_aside_div_info > span > button{
    border-radius: 12px;
    border: 1px solid #e7e7e7;
}
.option_payment_aside_div_info > span:has(button){
    margin-top: 7px;
    box-sizing: border-box;
}
.option_payment_pay_div{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    background-color: rgb(34, 34, 34);
    color: white;
    opacity: 0.7;
}
.option_payment_pay_div > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.option_payment_pay_div > div > div:first-child{
    flex:4;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    box-sizing: border-box;
}
.option_payment_pay_div > div > div:last-child{
    flex:6;
}
.option_payment_pay_div > div > div >button{
    flex:1;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #e7e7e7;
}
.option_payment_add_btn{
    border: 1px solid #9f9e9e;
    border-radius: 20px;
    width: 80%;
    min-height: 50px;
    background: rgba(0, 0, 255, 0.32);
}
.option_payment_add_btn:hover {
    transform: scale(1.12);
}
#option_payment_btn{
    transition: 1.3s;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}
#option_payment_btn:focus{
    outline: 0;
    transform: scale(1.2);
}

input{
    text-align: center;
}
.option_payment_option_cancel{
    margin-bottom: 12px;
}